<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qjs.bridgedb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    
    <!--  授权访问互联网-->
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_bridge"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.qjs.bridgedb.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.collection.BaseActivity"
            android:label="@string/bridge_base_edit"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.collection.Base2Activity"
            android:label="@string/bridge_base_edit"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.collection.Base3Activity"
            android:label="@string/bridge_base_edit"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.collection.StructureActivity"
            android:label="@string/bridge_base_edit"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.collection.PartsActivity"
            android:label="@string/bridge_base_edit"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.collection.Parts2Activity"
            android:label="@string/bridge_base_edit"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.disease.DiseaseActivity"
            android:label="@string/disease_info_add"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.detailed.BaseDetailedActivity"
            android:label="@string/detailed_base_show"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.detailed.DiseaseDetailedActivity"
            android:label="@string/detailed_disease_show"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <activity
            android:name="com.qjs.bridgedb.detailed.EditDiseaseActivity"
            android:label="@string/detailed_disease_edit"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <service 
            android:name="com.qjs.bridgedb.SyncService" >
        </service>
    </application>

</manifest>
